<!DOCTYPE html>
<html>
    <head>
        <title>
            landing page
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/app.css"> 
       
        
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark" style="margin-bottom: 2em;">
            <div class="container fluid">
                <div class="navbar-header">
                    <a class="navbar brand" href="/">notchUp</a>
                 </div>

            </div>
        </nav>
        <%if(success && success.length>0){%>
            <div class=" pattern " id="success">
                <div class="alert alert-success pattern" style="margin: 0; border: none;" role="alert">
                    <h4 style="background-color: green;width:50%;margin: auto; text-align: center; border-radius: 0.3em;color: white;">
                        <%=success%>
                    </h4>
                </div>
            </div>
                <%}%>
                <script type="text/javascript">
                    window.setTimeout("document.getElementById('success').style.display='none';", 3500); 
                </script>