<%- include("./partials/header") %>
        
        <div class="container">
                <h1>HEY!</h1>
                <h3>
                        This is a demo page made by <b>harikrishan nair</b> for the assignment given by notchUp.
                </h3>
                <p><b><a href="/demo">Click here to register for a demo class</a></b></p>
        </div>
       


<%- include("./partials/footer") %>